node_modules
logs
.git
debug
apps/server/data
apps/server/tmp
apps/server/samples
apps/server-rs
docs
moment-pic-ui
*.db
*.sqlite
.env
.env.*
!.env.example
*.md
tsconfig.json
!apps/server/tsconfig.json
!tsconfig.base.json
