node_modules/
dist/
*.log
.DS_Store
.env
.env.local
*.sqlite
*.sqlite-shm
*.sqlite-wal
debug/
tmp/
.cache/
apps/server/data/cache/
apps/server/data/**
!apps/server/data/.gitkeep
apps/server/prisma/data/**
!apps/server/prisma/data/.gitkeep
data/cache/**
!data/cache/.gitkeep
apps/server/tmp/
!.gitkeep
.logs/
